<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/comaServerTest</property>
        <property name="connection.username">comaServerTest</property>
        <property name="connection.password">comaServerTest123</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <!--  thread is the short name for
          org.hibernate.context.ThreadLocalSessionContext
          and let Hibernate bind the session automatically to the thread
        -->
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <!-- no "connection.pool_size" entry! -->
        
        
        <!-- dbcp connection 
            <property name="connection.maxActive">100</property>
            <property name="connection.whenExhaustedAction">1</property>
            <property name="connection.maxWait">120000</property>
            <property name="connection.maxIdle">1</property>
            <property name="connection.minIdle">0</property>
            <property name="connection.ps.maxActive">10</property>
            <property name="connection.ps.whenExhaustedAction">1</property>
            <property name="connection.ps.maxWait">120000</property>
            <property name="connection.ps.maxIdle">100</property>
            <property name="connection.validationQuery">select 1</property>
            <property name="connection.testOnBorrow">true</property>
            <property name="connection.testOnReturn">false</property>
        -->
        
        <property name="current_session_context_class">thread</property>
        <!-- this will show us all sql statements -->
        <property name="hibernate.show_sql">false</property>

		<!-- mapping files -->
		<mapping resource="bioinfo/comaWebServer/entities/Output.hbm.xml"                 />
		<mapping resource="bioinfo/comaWebServer/entities/Alignment.hbm.xml"              />
		<mapping resource="bioinfo/comaWebServer/entities/ProfileConstruction.hbm.xml"    />
		<mapping resource="bioinfo/comaWebServer/entities/Masking.hbm.xml"                />
		<mapping resource="bioinfo/comaWebServer/entities/SEG.hbm.xml"                    />
		<mapping resource="bioinfo/comaWebServer/entities/GapProbability.hbm.xml"         />
		<mapping resource="bioinfo/comaWebServer/entities/Autocorrection.hbm.xml"         />
		<mapping resource="bioinfo/comaWebServer/entities/InformationCorrection.hbm.xml"  />
		<mapping resource="bioinfo/comaWebServer/entities/AlignmentFilter.hbm.xml"        />
		<mapping resource="bioinfo/comaWebServer/entities/Search.hbm.xml"                 />
		
		<mapping resource="bioinfo/comaWebServer/entities/Cluster.hbm.xml"                />
        <mapping resource="bioinfo/comaWebServer/entities/EmailNotification.hbm.xml"      />
        <mapping resource="bioinfo/comaWebServer/entities/PeriodicalWorkerParams.hbm.xml" />
		
		<mapping resource="bioinfo/comaWebServer/entities/User.hbm.xml"                   />
		<mapping resource="bioinfo/comaWebServer/entities/GrantedAuthorityBean.hbm.xml"   />
		
		<mapping resource="bioinfo/comaWebServer/entities/Job.hbm.xml"                    />
		<mapping resource="bioinfo/comaWebServer/entities/DatabaseItem.hbm.xml"           />
        <mapping resource="bioinfo/comaWebServer/entities/DataFile.hbm.xml"           />

		<mapping resource="bioinfo/comaWebServer/entities/ComaResults.hbm.xml"            />
		<mapping resource="bioinfo/comaWebServer/entities/Image.hbm.xml"                  />
		<mapping resource="bioinfo/comaWebServer/entities/ResultsHit.hbm.xml"             />
		<mapping resource="bioinfo/comaWebServer/entities/ResultsAlignment.hbm.xml"       />
		<mapping resource="bioinfo/comaWebServer/entities/AlignmentBibliography.hbm.xml"  />
		<mapping resource="bioinfo/comaWebServer/entities/ScopBibliography.hbm.xml"       />
		<mapping resource="bioinfo/comaWebServer/entities/ResultsQuery.hbm.xml"           />
		<mapping resource="bioinfo/comaWebServer/entities/ResultsFooter.hbm.xml"          />
        <mapping resource="bioinfo/comaWebServer/entities/HSSegmentPairs.hbm.xml"                 />
	
	</session-factory>
</hibernate-configuration>